.invoicelist_container{
    position: absolute;
    margin-left: 350px;
    margin-top: -770px;
    font-family: "Poppins";
}
#createnewbtn{
    background-color: #1FABFA;
    margin-top: 0px;
    width: 130px;
    height: 50px;
    border: none;
    color:white;
}
#invoice_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
   
}
#shownumber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}
#numberentry{
    background-color: #F5F5F5;
    width:50px;
}
#params{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}
#searchentry{
    background-color: #F5F5F5;
    width:200px;
}
#search{
    display: flex;
    flex-direction: row;
    width: 280px;
    justify-content: space-between;
}
.invoicelist{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    width: 900px;
    margin-left: -35px;
}
.invoicelistitem{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin-left: -35px;
}
#invoicelistnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:800px;
    margin-top: 50px;
}
#invoicenavbtn{
    margin-top: 100px;
}
#prevbtn{
    background-color: white;
    box-shadow: 0 0 2px 0;
    color: black;
}
#nextbtn{
    background-color: white;
    box-shadow: 0 0 2px 0;
    color: black;
}

#delete{
    width:30px;
    height:30px;    
}

#edit{
     width:30px;
    height:30px;    
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.modalActions button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modalActions button:first-child {
  background-color: #2b7a78;
  color: white;
}

.modalActions button:last-child {
  background-color: #ccc;
  color: black;
}
