.dashboard_container{
    background-color: #D5EEFC;
    width: 300px;
    height: 900px;
    
}
img{
    width: 220px;
    margin-top: 20px;
    margin-left: 20px;
}

.myBusiness{
    font-size: 18px;
    width: 200px;
    justify-content: stretch;
    text-decoration: none;
    font-weight: bold;
    font-family: Poppins;
    margin-left: 10px;
    margin-top: 40px;
    cursor: pointer;
    color: black;
}

.menuItem{
  display:flex;
  align-items: center;
  flex-direction: row;
}

.menu{
 margin-top: 40px;
 display: flex;
 flex-direction: column;
 height: 150px;
 justify-content: space-between;
}
.icon{
    width: 20px;
    height: 20px;
}
.dashboard_text{
    margin-left: 10px;
    margin-top: 12px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/* .dashboard_text2{
  margin-left: 10px;
  margin-top: 12px;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
} */
.dropdown_content{
    cursor: pointer;
}
.dropdown_content.show {
    display: block;
  }
  .dropdown_content.hide {
    display: none;
  }

  #sub{
    width: 150px;
    height: 40px;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: #001AFF;
    border-radius: 5px;    
    border: none;
  }

  
  .navlink{
    text-decoration: none;
    color: black;
    margin-left: 25px;
    margin-top: 12px;
    font-size: 20px;
    cursor: pointer;    
    color: black;
  }
  .navlink:hover{
    text-decoration: none;
    color: black;
  }
  .navlink:link{
    text-decoration: none;
    color: black;
  }