.login-page{
    background-color: #1FABFA;
    width:320px;
    height: 400px;
    margin:auto;
    border-radius: 10px;
    margin-top: 120px;
    justify-items: center;
    align-items: center;
  }
  .login-container{
    position:absolute;
  }
  .welcome{
    color: white;
    font-size: medium;
    margin-top: 7px;
    margin-left: 30px;
    font-family: Poppins;
    font-weight: bold;
    
  }
  label{
    color: white;
    font-size: medium;
    margin-bottom: 20px;
    font-family: Poppins;
    font-weight: normal;
  }
  input{
    border-radius: 7px;
    height: 30px;
    width:250px;
    border:none;
    margin-top: 10px;
  
  }
  input:focus{
    outline: none;
}
  .remember-me{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 250px;
    margin-top: 10px;
    align-items: center;
  }
  
  .checkbox{
  width:10px;
  height: 10px;
  }
  .underlay1{
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: lighter;
    margin-left: -30px;
  }
  .underlay2{
    color: white;
    font-size: 12px;
    font-family: Poppins;
    font-weight: lighter;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .login-form{
  justify-content: center;
  margin-left: 35px;
  margin-top: 5px;
  position: absolute;
  
  }
  .material-icons{
    font-weight: lighter;
    font-size:large;
    position: absolute;
    margin-left: -25px;
    margin-top: 17px;
  }
  .login-signup{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 10px;
  }
  .button{
    background-color: white;
    color: #1FABFA;
    border-radius: 10px;
    padding: 7px 7px 7px 7px;
    border: none;
    font-size: medium;
    font-weight: bold;
    margin-top: -30px;
  }